body {
    font-family: Arial;
    background: #e7f0ff;
    margin: 0;
    transition: 0.4s;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
}

.nav {
    padding: 8px 15px;
    background: #0057ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

#darkToggle {
    margin-left: auto;
    margin-right: 20px;
    padding: 8px 15px;
    background: #ffae00;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.calendar-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.month-card {
    background: white;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.month-card:hover {
    transform: scale(1.03);
}

table {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

td {
    padding: 4px;
}

.sunday {
    color: red;
}

.today {
    background: #52ff70;
    border-radius: 8px;
    padding: 2px 5px;
}

.festival-box {
    background: white;
    margin: 25px;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

body.dark {
    background: #0e0e12;
    color: white;
}

body.dark .month-card,
body.dark .festival-box {
    background: #1c1c27;
    box-shadow: 0 4px 12px rgba(255,255,255,0.1);
}
